.popup__title {
  max-width: 330px;
  color: #000;
  padding: 34px 64px 54px 36px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
}

@media screen and (max-width: 720px) {
    .popup__title {
      max-width: 238px;
      padding: 25px 22px 75px 22px;
      font-size: 18px;
      line-height: 22px;
    }
  }